{% load static i18n %}
<form action="{% url 'orders:OrderAddProduct' object.id %}" method="post">{% csrf_token %}
{% if object.price %}<input type="hidden" id="price" name="price" value="{{object.price}}" />{% endif %}
<button type="submit" class="button-order">{% trans 'Заказать' %}<img src="{% static 'img/arrow.png' %}" alt="{% trans 'Заказать' %}"></button>
</form>