{% load i18n %}
<div class="order">
    {% include 'orders/snippets/order_remove_form.html' with object=object.ware %}
    <img src="{{ object.ware.pictures.all.0.image.url }}" alt="{{ object.ware.pictures.all.0.image.title }}">
    <span class="category_name">{{ object.ware.categories.get_title }}</span>
    <span class="product_name">{{ object.ware.get_title }}</span>
    <span class="product_price">{{ object.price }}&nbsp;/{% trans "eur." %}</span>
    <span class="product_quantitiy">x {{ object.quantity }} {% trans "st." %}</span>
    <span class="product_cost"> = {{ object.get_summ }}&nbsp;/{% trans "eur." %}</span>
    {% include 'orders/snippets/order_add_form.html' with object=object.ware %}
</div>