{% load i18n static %}
<div class="details-products">
    <div class="details-slider">
        {% with default_image=object.get_picture.image.url|default:'' %}
            <div class="slider-product">
                <img src="{{ current_image|default:default_image }}"  style="height:560px;max-height: 560px;max-width:560px;">
            </div>
    	{% endwith %}
        <div class="slider-control">
        	{% for picture in object.pictures.all %}
        	<div class="block">
                <a href="#"><img src="{{ picture.image.url }}" alt="{{ picture.title|default:object }}" {% if picture.image.url == current_image %}class="active"{% endif %}>
                    <div class="text">{% if request.user.is_staff %}{% trans 'Change' %}{% else %}{{ picture.title|default:object }}{% endif %}</div>
                </a>
            </div>
        	{% endfor %}
        	{% if request.user.is_staff %}
        	<div class="block last">
                <a href="#"><img src="{% static 'img/add.png' %}" class="add" alt="{% trans 'Add' %}">
                    <div class="text">{% trans 'Add' %}</div>
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="description">
        <h3 class="big-bold">{{ object }}</h3>
        <h3 class="red">{{ object.maker }}</h3>
        <p class="price"> {{ object.price }} <span>{% trans 'руб.' %}</span></p>
        {% if request.user.is_staff %}
            <a href="{% url 'products:ProductUpdate' object.id %}" class="red-button">{% trans 'Change' %} <span class="fa fa-chevron-right" aria-hidden="true"></span></a>
        {% else %}
        	{% include "orders/snippets/order_add_form.html" %}
        {% endif %}
        <div class="description-text">
            {{ hot_product.description }}
        </div>
    </div>
</div>