{# {% load new_tags %} #}
{% for object in slider_trio %}
<div class="text-slider" style="z-index:{{forloop.counter}};padding-left: 98px;padding-right: 211px;position:absolute;top:0;height:700px;left:0;right:0;background-repeat: no-repeat;background-size: cover;background-image: url({{ object.get_picture.image.url }});margin-top:100px;">
    <h3 class="green">{{ object.category }}</h3>
    <h3 class="big">{{ object }}</h3>

    <p>{{ object.description}}</p>
    {# <p>{{ object.description|big_letters }}</p> #}

    {% include "orders/snippets/order_add_form.html" %}
</div>
{% endfor %}
<div class="navi">
    <a href="#"></a><a href="#"></a><a href="#"></a>
</div>


