{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="h2 text-center head">
        {% trans "Yours invoces" %}, {% if user.first_name %}{{ user.first_name|title}}{% else %}{% trans "User" %}{% endif %}
    </div>
    <table class="table orders_list">
        <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Created" %}</th>
                <th>{% trans "Modific" %}</th>
                <th>{% trans "Summ" %}</th>
                <th>{% trans "Status" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
                {% if item.active %}
                    <tr>
                        <td class="td1 orders_list">{{ item.pk }}</td>
                        <td>{{ item.date|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.date_modif|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.total_cost|floatformat }}</td>
                        <td>{{ item.get_status_display }}</td>
                        <td>
                            <form action="{% url 'orders:InvoiceDetail' %}" method="get">
                                <button type="submit" class="btn btn-default btn-xs">
                                {% trans "view" %}
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
