{% if form.wrapper %}
    <form action="{{ form.process_url }}" method="{{ form.method }}" class="{{ form.css_class }}">
{% endif %}

    {% if form.secure %}{% csrf_token %}{% endif %}

    {{ form.media }}

    {% if form.add_table %}
        <table>{{ form.as_table }}</table>
    {% elif form.add_ul %}
        <ul>{{ form.as_ul }}</ul>
    {% else %}
        {{ form.as_p }}
    {% endif %}

    {% if form.submit %}
        <button type="submit" value="{{ form.submit.value }}" class="submit">{{ form.submit.title }}</button>
    {% endif %}

{% if form.wrapper %}
    </form>
{% endif %}