{% extends 'base.html' %}
{% load i18n static %}

{% block header %}
	{{ block.super }}
	{% include 'products/snippets/product_slider.html' with slider_trio=paginator %}
{% endblock header %}

{% block content %}

	{% include 'core/snippets/menu.html' with menu=menu.get_menu_submenu %}

	<div class="clearfix"></div>

	<div class="tab-content">
        {% for num in '123' %}
            <div class="row_{{ num }}">
                {% for object in paginator %}
                    {% include 'products/snippets/product_block.html' %}
                {% endfor %}
            </div>    
        {% endfor %}
	</div>
{% endblock content %}