{% load i18n %}
<div class="clearfix">
    {% include 'core/snippets/menu.html' with menu=menu.get_menu_footer %}
    <div class="text-footer clearfix">
        <h3>{% trans 'Оставайтесь на связи' %}</h3>
        <p>{% trans 'Подписаться на новости и рассылки' %}</p>
        {% if email_form %}

            {% with form=email_form %}

                <form action="{{ form.process_url }}" method="{{ form.method }}">
                    {% if form.method == 'POST' %}{% csrf_token %}{% endif %}
                    {{ form.media }}
                    {{ form.as_p }}
                    <button type="submit" class="fa fa-paper-plane fa-2x" style="vertical-align:middle;"></button>
                </form>

            {% endwith %}

        {% else %}

            <form action="#">
                <input type="email" name="email" placeholder="{% trans 'ваш email' %}">
                <button type="submit" class="fa fa-paper-plane fa-2x" style="vertical-align:middle;"></button>
            </form>

         {% endif %}
    </div>
</div>
<p class="small">&copy; {% trans 'GB 2017' %}</p>

{% include 'core/snippets/menu.html' with menu=menu.get_menu_socials %}
{% include 'core/snippets/menu.html' with menu=menu.get_menu_flatpages %}