{% load i18n %}
<div class="header clearfix">
    <a href="/" class="logo"></a>
    {% include 'core/snippets/menu.html' with menu=menu.get_menu_mainmenu %}
    <div class="menu">

    {% if user.is_authenticated %}

    <div style="display:inline-block;">{% trans "Приветствуем" %} {{ user.username }}!</div>

    <a href="{% url 'registration:Logout' %}" class="logout">{% trans 'Logout' %}</a>

    {% if user.is_staff %}
    <a href="{% url 'admin:index' %}" class="admin">{% trans 'Admin' %}</a>
    {% endif %}

    {% if perms.registration.can_translate %}<a href="/rosetta/" class="admin">{% trans 'Translate' %}</a>{% endif %}

    {% else %}
         <a href="{% url 'registration:Login' %}" class="login">{% trans 'Login' %}</a>
    {% endif %}

    </div>
    {% include 'core/formhelper.html' with form=SearchForm %}
    <a href="{% url 'orders:InvoiceDetail' %}" class="invoice basket">{{ request.session.invoice_summ }} </a>
</div>