{% if messages %}
    <ul class="messages padding-site">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message|safe }}</li>
        {% endfor %}
    </ul>
{% endif %}