{% load i18n %}
{% if is_paginated %}
<div class="paginator">

    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}&{{ request.GET }}">&lt;</a>
    {% endif %}

    <span class="current">{% trans "Cтраница" %}{{ page_obj.number }} {% trans "из" %} {{ paginator.num_pages }}
    </span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}&{{ request.GET }}">&gt;</a>
    {% endif %}

</div>
{% endif %}