{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>{% block meta_title %}{{ page_title }}{% endblock meta_title %}</title>
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-montserrat.css' %}?v={{ VERSION }}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}?v={{ VERSION }}">
    	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}?v={{ VERSION }}">
    {% endblock css %}
</head>

<body>
    <div class="container">
        <div class="{{ header_class }}">
            {% block header %}
                {% include 'snippets/header.html' %}
            {% endblock header %}
            {% block header_title %}{% endblock header_title %}
        </div>

        <div class="messages">
            {% include 'snippets/messages.html' %}
        </div>

        <div class="{{ content_class }}">
            {% block content %}{% endblock content %}
        </div>

        <div class="clr"></div>

        <div class="footer">
            {% block footer %}{% include 'snippets/footer.html' %}{% endblock footer %}
        </div>

    </div>
</body>

</html>

{% comment %}
    every inheritance should define:
        page_title
        header_class
        content_class
{% endcomment %}