{% extends "base.html" %}

{% block meta_title %}{{ flatpage.title }}{% endblock meta_title %}

{% block content %}
<div class="aboutUs text">
    <h1 class="">{{ flatpage.title }}</h1>
    <p class="">{{ flatpage.content }}</p>
</div>
{% endblock content %}