{% extends 'base.html' %}

{% block header %}
    {{ block.super }}
{% endblock header %}

{% block content %}

    {% include 'core/snippets/menu.html' with menu=menu.get_menu_submenu %}

    <div class="clearfix"></div>
    <div class="tab-content" style="display:block;">
        {% include 'products/snippets/product_block_detail.html' %}
    </div>

{% endblock content %}