{% extends 'base.html' %}

{% block header %}
    {{ block.super }}
    {% include 'products/snippets/product_slider.html' %}
{% endblock header %}

{% block content %}

    {% include 'core/snippets/menu.html' with menu=menu.get_menu_submenu %}


    <div class="clearfix"></div>
        <form action="/products/" method="get">
            <button type="submit" name="sort" class="fa fa-paper-plane fa-2x" value="popular" >Популярные</button>
            <button type="submit" name="sort" class="fa fa-paper-plane fa-2x" value="new" >Новинки</button>
        </form>
    <div class="tab-content">
        <div class="row">
        {% for object in object_list %}
            {% include 'products/snippets/product_block.html' %}
            {% if not forloop.last  %}
                 {% cycle '' '' '</div><div class="row">' %}
            {% endif %}
        {% endfor %}
        </div>
    </div>
    {% include 'snippets/paginator.html' %}
{% endblock content %}