{% load i18n %}
{% for obj in object_list %}
    <div class="location-1">
        <i class="fa fa-map-marker fa-5x"></i>
        <h4>{{ obj.city }}</h4>
        <div class="contacts">
            <h5>{% trans 'Телефон' %}</h5>
            <p>{{ obj.phone}}</p>
        </div>
        <div class="contacts">
            <h5>{% trans 'Email' %}</h5>
            <p>{{ obj.email }}</p>
        </div>
        <div class="contacts">
            <h5>{% trans 'Адрес' %}</h5>
            <p>{{ obj.get_address }}</p>
        </div>
    </div>
{% endfor %}