<div class="{{ menu.css_class }}">
    {% for obj in menu.submenus.all %}
        <a href="{{ obj.get_url }}" class="{% if obj.get_url in request.path %}{{obj.set_css_active.css_class}}{% else %}{{obj.css_class}}{% endif %}">{{ obj.get_title }}</a>
     {% endfor %}
</div>
