{% extends "base.html" %}

{% load i18n %}
{% block content %}
    <h1>{% trans 'Благодарим вас за время, проведенное на этом сайте.' %}</h1>

    {% if user.is_anonimous %}
         <a href="{% url 'registration:login' %}" class="login">{% trans 'Login again' %}</a>
    {% endif %}

{% endblock content %}