{% extends "base.html" %}
{% load i18n %}

{% block header_title %}<h1>{{page_title}}</h1>{% endblock header_title %}

{% block content %}
    <form class="form-horizontal" action="{% url 'registration:Login' %}" method="post">
        {% csrf_token %}
        {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
        <table>
            {{ form.as_table }}
            <tr>
                <td></td>
                <td>
                    <button class="btn btn-round form-control" type="submit" name="useraction" value="LOGIN">{% trans 'войти' %}</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <a class="btn btn-round form-control" href="{% url 'registration:AccountCreate' %}">{% trans 'зарегистрироваться' %}</a>
                </td>
            </tr>
        </table>
    </form>
{% endblock content %}