{% extends "base.html" %}
{% load static i18n %}
{% block content %}
    <div class="product-detail">
        {% if object %}
            {% include 'registration/includes/inc-pic_gallery.html' with images=object.pictures.all %}
            <div class="product-info">
                <h1 class="product-info__h1">{% trans user.email %}</h1>
                <h3 class="product-info__h3">{% trans user.last_name %}</h3>
                <div class="product-info__price"><span class="product-info__price_num">{% trans user.first_name %}</span></div>
                <a href="{% url 'acc:changeProfile' %}" class="button button_push button_long">
                    {% trans "Change" %}
                    <img src="{% static 'images/arrow-detail.png' %}" alt="{% trans 'arrow-detail' %}">
                </a>
                <a href="{% url 'acc:changePass' %}" class="button putton_push changePass">{% trans "Change password" %}</a>
                <p class="product-info__text">{% trans user.description %}
                </p>
            </div>
        </div>
    {% endif %}
    <div class="marging-section"></div>
{% endblock content %}
